# 목욕장 전처리

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_rows", 100, "display.max_columns", 100)

In [2]:
PATH = 'G:/다른 컴퓨터/My_desktop/project/데이터 분석 프로젝트/이노포스트/data/04_목욕장/'

In [3]:
df = pd.read_csv(PATH + '목욕장업.csv', encoding='cp949')

C:\Users\Helpe\AppData\Local\Temp\ipykernel_1616\2372193476.py:1: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(PATH + '목욕장업.csv', encoding='cp949')

In [4]:
df.shape

(17190, 51)

In [5]:
df.head(2)

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,소재지전화,소재지면적,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y),위생업태명,건물지상층수,건물지하층수,사용시작지상층,사용끝지상층,사용시작지하층,사용끝지하층,한실수,양실수,욕실수,발한실여부,의자수,조건부허가신고사유,조건부허가시작일자,조건부허가종료일자,건물소유구분명,세탁기수,여성종사자수,남성종사자수,회수건조수,침대수,다중이용업소여부,Unnamed: 50
0,1,목욕장업,11_44_01_P,5220000,5220000-202-2012-00005,20120726,NaN,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,054 974 8383,349.46,718832.0,경상북도 칠곡군 석적읍 반계리 71-4번지,경상북도 칠곡군 석적읍 호국로 582-2,39848.0,반계숯가마찜질방,20120726132906,I,2018-08-31 23:59:59.0,찜질시설서비스영업,329518.461747,282201.682569,찜질시설서비스영업,2.0,0.0,1.0,2.0,NaN,NaN,0.0,0.0,2.0,Y,0.0,NaN,NaN,NaN,자가,0.0,NaN,NaN,0.0,0.0,N,NaN
1,2,목욕장업,11_44_01_P,5220000,5220000-202-2012-00006,20120824,NaN,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,NaN,489.79,718852.0,경상북도 칠곡군 기산면 행정리 47-2번지,경상북도 칠곡군 기산면 선노로 1082,39915.0,무시로장수마을찜질방,20161025095418,I,2018-08-31 23:59:59.0,찜질시설서비스영업,325101.041208,275060.260588,찜질시설서비스영업,1.0,0.0,1.0,1.0,NaN,NaN,0.0,0.0,0.0,Y,0.0,NaN,NaN,NaN,임대,0.0,NaN,NaN,0.0,0.0,N,NaN

In [6]:
df.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '건물지상층수', '건물지하층수', '사용시작지상층', '사용끝지상층', '사용시작지하층', '사용끝지하층',
       '한실수', '양실수', '욕실수', '발한실여부', '의자수', '조건부허가신고사유', '조건부허가시작일자',
       '조건부허가종료일자', '건물소유구분명', '세탁기수', '여성종사자수', '남성종사자수', '회수건조수', '침대수',
       '다중이용업소여부', 'Unnamed: 50'],
      dtype='object')

In [7]:
df.isnull().sum()

번호                 0
개방서비스명             0
개방서비스아이디           0
개방자치단체코드           0
관리번호               0
인허가일자              0
인허가취소일자        17190
영업상태구분코드           0
영업상태명              0
상세영업상태코드           0
상세영업상태명            0
폐업일자            6316
휴업시작일자         17190
휴업종료일자         17190
재개업일자          17190
소재지전화           1270
소재지면적             44
소재지우편번호          482
소재지전체주소           21
도로명전체주소         7682
도로명우편번호         7960
사업장명               0
최종수정시점             0
데이터갱신구분            0
데이터갱신일자            0
업태구분명              0
좌표정보(x)         1208
좌표정보(y)         1208
위생업태명              0
건물지상층수          4272
건물지하층수          5458
사용시작지상층         5783
사용끝지상층          8587
사용시작지하층         7737
사용끝지하층         10661
한실수             7397
양실수             7396
욕실수             4729
발한실여부             79
의자수             7388
조건부허가신고사유      17163
조건부허가시작일자      17171
조건부허가종료일자      17170
건물소유구분명        12649
세탁기수           10571
여성종사자수         15390
남성종사자수         15390
회수건조수          11271
침대수            11328
다중이용업소여부           0
Unnamed: 50    17190
dtype: int64

## 1차 컬럼 드랍

In [8]:
df_drop1 = df.drop(['인허가일자', # 불필요한 데이터
               '인허가취소일자', # 불필요한 데이터
               '영업상태명', # 영업상태구분코드로 확인 1이면 정상영업 3이면 폐업
               '상세영업상태코드', # 영업상태구분코드로 확인 1이면 정상영업 3이면 폐업
               '상세영업상태명', # 영업상태구분코드로 확인 1이면 정상영업 3이면 폐업
               '폐업일자', # 불필요한 데이터
               '휴업시작일자', # 불필요한 데이터
               '휴업종료일자', # 불필요한 데이터
               '재개업일자', # 불필요한 데이터
               '소재지전화', # 불필요한 데이터
               '소재지면적', # 불필요한 데이터
               '최종수정시점', # 불필요한 데이터
               '데이터갱신구분', # 불필요한 데이터
               '데이터갱신일자', # 불필요한 데이터
               '업태구분명', # 개방서비스명으로 구분
               '위생업태명', # 개방서비스명으로 구분
               '건물지상층수', # 불필요한 데이터
               '건물지하층수', # 불필요한 데이터
               '사용시작지상층', # 불필요한 데이터
               '사용끝지상층', # 불필요한 데이터
               '사용시작지하층', # 불필요한 데이터
               '사용끝지하층', # 불필요한 데이터
               '한실수', # 불필요한 데이터
               '양실수', # 불필요한 데이터
               '욕실수', # 불필요한 데이터
               '발한실여부', # 불필요한 데이터
               '의자수', # 불필요한 데이터
               '조건부허가신고사유', # 불필요한 데이터
               '조건부허가시작일자', # 불필요한 데이터
               '조건부허가종료일자', # 불필요한 데이터
               '건물소유구분명', # 불필요한 데이터
               '세탁기수', # 불필요한 데이터
               '여성종사자수', # 불필요한 데이터
               '남성종사자수', # 불필요한 데이터
               '회수건조수', # 불필요한 데이터
               '침대수', # 불필요한 데이터
               '다중이용업소여부', # 불필요한 데이터
               'Unnamed: 50' # 불필요한 데이터
               ], axis=1)

In [9]:
df_drop1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17190 entries, 0 to 17189
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   번호        17190 non-null  int64
 1   개방서비스명    17190 non-null  object
 2   개방서비스아이디  17190 non-null  object
 3   개방자치단체코드  17190 non-null  int64
 4   관리번호      17190 non-null  object
 5   영업상태구분코드  17190 non-null  int64
 6   소재지우편번호   16708 non-null  float64
 7   소재지전체주소   17169 non-null  object
 8   도로명전체주소   9508 non-null   object
 9   도로명우편번호   9230 non-null   float64
 10  사업장명      17190 non-null  object
 11  좌표정보(x)   15982 non-null  float64
 12  좌표정보(y)   15982 non-null  float64
dtypes: float64(4), int64(3), object(6)
memory usage: 1.7+ MB

In [10]:
df_drop1.head(2)

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,영업상태구분코드,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y)
0,1,목욕장업,11_44_01_P,5220000,5220000-202-2012-00005,1,718832.0,경상북도 칠곡군 석적읍 반계리 71-4번지,경상북도 칠곡군 석적읍 호국로 582-2,39848.0,반계숯가마찜질방,329518.461747,282201.682569
1,2,목욕장업,11_44_01_P,5220000,5220000-202-2012-00006,1,718852.0,경상북도 칠곡군 기산면 행정리 47-2번지,경상북도 칠곡군 기산면 선노로 1082,39915.0,무시로장수마을찜질방,325101.041208,275060.260588

## 폐업한 목욕장 제거

In [11]:
df_close = df_drop1['영업상태구분코드'].isin([3])
df_close = df_drop1[~df_close]
df_close.shape

(6316, 13)

## 대전지역 목욕장만 추출

시 정보가 담겨있는 소재지전체주소 & 도로명전체주소에서 대전만 추출함

In [12]:
print(df_close['소재지전체주소'].isnull().sum())
print(df_close['도로명전체주소'].isnull().sum())

14
53

In [13]:
# `소재지지번주소`의 NaN 중 `대전` 지역의 데이터 추출, NaN 중 `소재지전체주소`에서 `대전`인 값
df_nan = df_close[df_close['소재지전체주소'].isnull()] # 소재지지번주소에서 NaN 추출
df_nan_daejeon = df_nan[df_nan['소재지전체주소'].str.contains('대전', na=False)] # 소재지전체주소에 대전이 있는 값 추출
df_nan_daejeon.head() # NaN중 대전소재지는 없음

Empty DataFrame
Columns: [번호, 개방서비스명, 개방서비스아이디, 개방자치단체코드, 관리번호, 영업상태구분코드, 소재지우편번호, 소재지전체주소, 도로명전체주소, 도로명우편번호, 사업장명, 좌표정보(x), 좌표정보(y)]
Index: []

In [14]:
df_close['소재지전체주소'].str[:3].unique()

array(['경상북', nan, '경상남', '전라북', '충청남', '서울특', '광주광', '전라남', '경기도', '강원도',
       '대전광', '대구광', '인천광', '부산광', '충청북', '제주특', '울산광', '세종특'],
      dtype=object)

대전광역시 형태로만 존재함

In [15]:
df_dj = df_close[df_close['소재지전체주소'].str.contains('대전광역시', na=False)] # 대전광역시만 추출

print(df_dj.shape)

(115, 13)

In [16]:
df_dj.head(2)

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,영업상태구분코드,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y)
319,320,목욕장업,11_44_01_P,3670000,3670000-202-2018-00002,1,305301.0,"대전광역시 유성구 봉명동 538-1 지상5,6,8층","대전광역시 유성구 계룡로113번길 76, 지상5,6,8층 (봉명동)",34186.0,유성온천불가마사우나,230896.922887,317369.759557
669,670,목욕장업,11_44_01_P,3650000,3650000-202-2019-00001,1,301835.0,대전광역시 중구 유천동 322-1 현암에버드림아파트 지하1층,"대전광역시 중구 태평로44번길 27, 지하1층 (유천동, 현암에버드림아파트)",34887.0,태평제일불가마사우나,235333.477746,313461.387438

In [17]:
df_dj.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '영업상태구분코드', '소재지우편번호',
       '소재지전체주소', '도로명전체주소', '도로명우편번호', '사업장명', '좌표정보(x)', '좌표정보(y)'],
      dtype='object')

## 2차 컬럼 삭제

In [18]:
df_drop2 = df_dj.drop(['번호'
                       ,'개방서비스명'
                       ,'개방서비스아이디'
                       ,'개방자치단체코드'
                       ,'소재지우편번호'
                       ,'도로명우편번호'
                       ,'관리번호'
                       ,'영업상태구분코드'
               ], axis=1)

df_drop2.head(2)

,소재지전체주소,도로명전체주소,사업장명,좌표정보(x),좌표정보(y)
319,"대전광역시 유성구 봉명동 538-1 지상5,6,8층","대전광역시 유성구 계룡로113번길 76, 지상5,6,8층 (봉명동)",유성온천불가마사우나,230896.922887,317369.759557
669,대전광역시 중구 유천동 322-1 현암에버드림아파트 지하1층,"대전광역시 중구 태평로44번길 27, 지하1층 (유천동, 현암에버드림아파트)",태평제일불가마사우나,235333.477746,313461.387438

In [19]:
df_drop2.reset_index(drop=True, inplace=True)
df_drop2

,소재지전체주소,도로명전체주소,사업장명,좌표정보(x),좌표정보(y)
0,"대전광역시 유성구 봉명동 538-1 지상5,6,8층","대전광역시 유성구 계룡로113번길 76, 지상5,6,8층 (봉명동)",유성온천불가마사우나,230896.922887,317369.759557
1,대전광역시 중구 유천동 322-1 현암에버드림아파트 지하1층,"대전광역시 중구 태평로44번길 27, 지하1층 (유천동, 현암에버드림아파트)",태평제일불가마사우나,235333.477746,313461.387438
2,대전광역시 동구 자양동 173-7번지,대전광역시 동구 충정로 115-4 (자양동),행복한목욕탕,240428.945786,315980.040042
3,"대전광역시 동구 홍도동 64-2 ,4,5",대전광역시 동구 동서대로 1605 (홍도동),일웅스파렌드,238468.907628,316193.664142
4,대전광역시 동구 용전동 133-1번지,대전광역시 동구 계족로 448 (용전동),정암게르마늄사우나,238764.480059,316848.193716
...,...,...,...,...,...
110,대전광역시 서구 관저동 1731,"대전광역시 서구 도안대로 11, 3,4,5층 (관저동)",관저힐스파2,229962.598148,311380.687232
111,"대전광역시 서구 월평동 916번지 지하,1층,2층","대전광역시 서구 월평로 40, 지하1,2층 (월평동)",백두산사우나,232402.370003,317300.236250
112,대전광역시 서구 가장동 48-1,대전광역시 서구 가장로 128 (가장동),백운장목욕탕,234695.119004,314685.621800
113,대전광역시 서구 둔산동 1181번지 7,"대전광역시 서구 둔산로74번길 12, 7층 (둔산동)",새둔산여성전용한증막,234190.767408,316722.386326
114,대전광역시 서구 가장동 52-1,"대전광역시 서구 도산로314번길 19, 3층,4층 (가장동)",주식회사 뉴하이랜드,234839.522838,314801.489817

## 동, 위도, 경도 추출

In [20]:
df_drop2.isnull().sum()

소재지전체주소    0
도로명전체주소    0
사업장명       0
좌표정보(x)    0
좌표정보(y)    0
dtype: int64

위도와 경도는 전부 제공 중으로 동만 추출 진행

In [21]:
df_drop2['시'] = '대전광역시'
df_drop2['구'] = np.nan
df_drop2['법정동'] = np.nan

df_drop2.head(2)

,소재지전체주소,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),시,구,법정동
0,"대전광역시 유성구 봉명동 538-1 지상5,6,8층","대전광역시 유성구 계룡로113번길 76, 지상5,6,8층 (봉명동)",유성온천불가마사우나,230896.922887,317369.759557,대전광역시,NaN,NaN
1,대전광역시 중구 유천동 322-1 현암에버드림아파트 지하1층,"대전광역시 중구 태평로44번길 27, 지하1층 (유천동, 현암에버드림아파트)",태평제일불가마사우나,235333.477746,313461.387438,대전광역시,NaN,NaN

대전광역시, 공백, **구, 공백, **동 형태

In [22]:
df_split = df_drop2

# 공백으로 소재지전체주소 분리
df_split['구'] = df_split.소재지전체주소.str.split(' ').str[1] 
df_split['법정동'] = df_split.소재지전체주소.str.split(' ').str[2]

In [23]:
# 구, 법정동 정보가 정상적으로 분리됐는지 확인
print(df_split['구'].unique(), df_split['구'].nunique())
print(df_split['법정동'].unique(), df_split['법정동'].nunique())

['유성구' '중구' '동구' '서구' '대덕구'] 5
['봉명동' '유천동' '자양동' '홍도동' '용전동' '용운동' '가오동' '성남동' '원동' '대동' '대별동' '삼성동'
 '인동' '가양동' '대성동' '대흥동' '문창동' '용두동' '문화동' '오류동' '선화동' '중촌동' '사정동' '태평동'
 '산성동' '대사동' '석교동' '옥계동' '신성동' '장대동' '원내동' '도룡동' '지족동' '노은동' '관평동' '둔산동'
 '중리동' '오정동' '법동' '대화동' '비래동' '석봉동' '신탄진동' '송촌동' '목상동' '관저동' '탄방동' '갈마동'
 '정림동' '용문동' '가수원동' '괴정동' '변동' '평촌동' '월평동' '도마동' '만년동' '가장동' '복수동'] 59

In [24]:
df_split.head(2)

,소재지전체주소,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),시,구,법정동
0,"대전광역시 유성구 봉명동 538-1 지상5,6,8층","대전광역시 유성구 계룡로113번길 76, 지상5,6,8층 (봉명동)",유성온천불가마사우나,230896.922887,317369.759557,대전광역시,유성구,봉명동
1,대전광역시 중구 유천동 322-1 현암에버드림아파트 지하1층,"대전광역시 중구 태평로44번길 27, 지하1층 (유천동, 현암에버드림아파트)",태평제일불가마사우나,235333.477746,313461.387438,대전광역시,중구,유천동

### 컬럼 정렬

In [25]:
df = df_split[['시', '구', '법정동', '사업장명','소재지전체주소', '도로명전체주소', '좌표정보(x)', '좌표정보(y)']]
df.head()

,시,구,법정동,사업장명,소재지전체주소,도로명전체주소,좌표정보(x),좌표정보(y)
0,대전광역시,유성구,봉명동,유성온천불가마사우나,"대전광역시 유성구 봉명동 538-1 지상5,6,8층","대전광역시 유성구 계룡로113번길 76, 지상5,6,8층 (봉명동)",230896.922887,317369.759557
1,대전광역시,중구,유천동,태평제일불가마사우나,대전광역시 중구 유천동 322-1 현암에버드림아파트 지하1층,"대전광역시 중구 태평로44번길 27, 지하1층 (유천동, 현암에버드림아파트)",235333.477746,313461.387438
2,대전광역시,동구,자양동,행복한목욕탕,대전광역시 동구 자양동 173-7번지,대전광역시 동구 충정로 115-4 (자양동),240428.945786,315980.040042
3,대전광역시,동구,홍도동,일웅스파렌드,"대전광역시 동구 홍도동 64-2 ,4,5",대전광역시 동구 동서대로 1605 (홍도동),238468.907628,316193.664142
4,대전광역시,동구,용전동,정암게르마늄사우나,대전광역시 동구 용전동 133-1번지,대전광역시 동구 계족로 448 (용전동),238764.480059,316848.193716

In [26]:
df.shape

(115, 8)

## 데이터프레임으로 저장

In [36]:
print(df['법정동'].unique(), df['법정동'].count())

['봉명동' '유천동' '자양동' '홍도동' '용전동' '용운동' '가오동' '성남동' '원동' '대동' '대별동' '삼성동'
 '인동' '가양동' '대성동' '대흥동' '문창동' '용두동' '문화동' '오류동' '선화동' '중촌동' '사정동' '태평동'
 '산성동' '대사동' '석교동' '옥계동' '신성동' '장대동' '원내동' '도룡동' '지족동' '노은동' '관평동' '둔산동'
 '중리동' '오정동' '법동' '대화동' '비래동' '석봉동' '신탄진동' '송촌동' '목상동' '관저동' '탄방동' '갈마동'
 '정림동' '용문동' '가수원동' '괴정동' '변동' '평촌동' '월평동' '도마동' '만년동' '가장동' '복수동'] 115

In [37]:
df.to_csv(PATH + '목욕장_장병용_전처리완료.csv', index=False, encoding='cp949')